@model TraineeCourseResultViewModel
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div class="card" style="width: 18rem; color:@Model.color">
    <img class="card-img-top" src="/Images/@Model.imgUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.TraineeName</h5>
        <p class="card-text">Course: @Model.CourseName </p>
        <p class="card-text">Degree in Course: @Model.CourseDegree </p>
        <p class="card-text">Status: @Model.Status </p>
    </div>
</div>

<div class="m-4">
    <a href="/Trainee" class="btn btn-primary">Go Back</a>
</div>